.root {
  overflow: hidden;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.canGrabRoot {
  composes: root;
  cursor: grab;
}

.grabbingRoot {
  composes: root;
  cursor: grabbing;
}
